.nrd-title2 {
  display: none;
}

@media only screen and (max-width: 500px) {
  .nrd-title {display: none; !important}
  .nrd-title2 {display: inline-block;}
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
